{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
  <form method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Log In</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-dark">Log In</button>
    </div>
  </form>
  <div class="boarder-top pt-3">
    <small class="text-muted">Don't have an Account? <a href="{% url 'register' %}"> Sign Up</a></small>
  </div>
</div>
{% endblock content%}
