
html, body {
    height: 100%;
    margin-bottom: 0px;
    padding-bottom:0px;
  /*  overflow: hidden;*/
}
header {
  height: 80px;
}
footer {
  height: 50px;
}
.ccc {
    height: calc(100% - 130px);
    /*margin-bottom:-130px;*/
    padding:0px;
    overflow: auto;
    margin-left:50px;
    margin-right: 50px;
}
/*
.container::after {
    content = "";
    display: block;

}

footer{
    height: 56px;
    margin-top: 0px;
}
*/
