<!-- Toggle style sort by buttons that keeps user choice after form submission -->
<div class="form-group form-inline btn-group btn-group-toggle" data-toggle="buttons">
  <label class="mr-2">Sort By: </label>
  {% for choice in form.sort %}
  <label for="{{choice.id_for_label}}" class="btn btn-outline-primary {% if sort_by == forloop.counter %}active{% endif %}">
    {{choice}}
  </label>
  {% endfor %}
</div>


<!-- Javascript alternative in maintaining sort by choice -->
<!-- <script type="text/javascript">
  $(document).ready( function(){
    document.getElementById("label" + {{sort_by}}).className += " active"
  });
</script> -->
