{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
</br>

{% if userProfile.id == user.id %}
  <div class = 'text-right'>
    <a href = "{% url 'edit profile' %}" class="btn btn-outline-secondary">Edit Profile</a>
  </div>
{% endif %}

<br>
  <div class="text-center">
    <div class="">
      <img src="{{ userProfile.profile.image.url }}" class="rounded-circle account-image" height="">
      <div>
        <br>
        <h2 class="account-heading">{{ userProfile.username }}</h2>
        <p class="text-secondary">{{ userProfile.email }}</p>
      </div>


      <h3>Signed Up Events</h3>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Events Attending
      </button>

      <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Events List </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="overflow-auto" style='max-height:50vh'>
                {% for event in user.signed_up.all %}
                  <br>
                  <a href="{% url 'event detail' event.id %}">
                        {{ event.name }}
                  </a>
                  <br>
                  <br>
                {% endfor %}
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
              </div>

            </div>
          </div>
        </div>

  </div>
</div>

{% endblock content%}
