{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

{% if userProfile.id == user.id %}
  <div class = 'text-right'>
    <a href = "{% url 'edit profile' %}" class="btn btn-outline-secondary">Edit Profile</a>
  </div>
{% else %}
  {% if userProfile in user.profile.following.all %}
    {% include "followForm.html" with user=userProfile unfollow=True %}
  {% else %}
    {% include "followForm.html" with user=userProfile %}
  {% endif %}
{% endif %}

<br>
  <div class="text-center">
      <img src="{{ userProfile.profile.image.url }}" class="rounded-circle account-image" height="">
      <div>
        <br>
        <h2 class="account-heading">{{ userProfile.username }}</h2>
        <p class="text-secondary">{{ userProfile.email }}</p>
      </div>
      <div class="row">
        <!-- Following -->

        <div class="col">
          {% include 'widgets/userModal.html' with name='following' users=userProfile.profile.following.all text='Following' %}
        </div>

        <!-- Followers -->
        <div class="col">
          {% include 'widgets/userModal.html' with name='followers' users=userProfile.followers.all text='Followers'%}
        </div>
        <!-- Signed Up Events -->
        <div class="col">
          {% include 'widgets/eventModal.html' with  name='events' events=userProfile.signed_up.all%}
        </div>
      </div>
    </div>

{% endblock content%}
