{% load static %}

<div class="card my-3">
  <div class="card-header">
    <!-- Event Name -->
    <h2 class="d-inline">
      <a href="{% url 'event detail' event.id %}"> {{event.name|capfirst}} </a>
    </h2>
    <!-- Edit Event Button -->
    {% if event.author.id == user.id %}
      <a class="btn btn-primary" href="{%url 'event edit' event.id%}">Edit</a>
    {% endif %}
    <!-- Sign up/Cancel Button -->
    {% if not event.is_past %}
      <div class="float-right">
        {% if user in event.signed_up.all %}
          {% include "widgets/signUpButton.html" with event=event signed_up=True%}
        {% else %}
          {% include "widgets/signUpButton.html" with event=event%}
        {% endif %}
      </div>
    {% endif %}
    <div>
      <!-- Category -->
      <h4 class="mute d-inline">&#10171; {{event.category}}</h4>
      <!-- Author -->
      <h6 class="float-right inline"> posted by:
        <a href="{% url 'profile' event.author.id %}"><img src="{{ event.author.profile.image.url }}" class="rounded-circle" height="40px" alt=""><span class="ml-1">{{event.author}}</span></a>
      </h6>
    </div>
  </div>
  <div class="card-body text-nowrap">
    <!-- Location -->
    <p class="card-text">
      <img src="{% static "events/location.png" %}" class="float-left" height="27px" alt="">
      <span class="ml-3">{{event.location}}</span>
    </p>
    <!-- Time -->
    <p class="card-text">
      <img src="{% static "events/time.png" %}" class="float-left" height = "27px" alt="">
      <span class="ml-3">{{event.event_date}}</span>
    </p>
    <!-- Details -->
    <p class="card-text container border-gray border">{{event.details}}</p>
    <!-- Users Signed Up -->
    {% with signed_up=event.signed_up.all %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_button{{event.id}}" >
        <!--  Users Attending -->
          {{ signed_up.count }} Users Attending
        </button>
        <!-- Modal -->
          <div class="modal fade" id="modal_button{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <p class = "modal-dialog">Number signed up: {{ signed_up.count }} </p>
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"> Users List </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="overflow-auto" style='max-height:50vh'>
                  {% for atendee in signed_up %}
                        <a href="{% url 'profile' atendee.id %}">
                          <img src="{{ atendee.profile.image.url }}" class="rounded-circle" height="40px" alt="">
                          <span class="ml-1">{{atendee.username}}</span></a>
                          <br>
                  {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
    {% endwith %}
    <br>
    <!-- Misc. Info -->
    <p class="card-text text-muted d-inline">Created: {{event.create_date}}</p>
    <p class="card-text text-muted d-inline">Last Modified: {{event.last_modified}}</p>
  </div>
</div>
