{% extends 'base.html'%}
  {%block content%}
    {%for event in events%}
      <div class="card my-3">
        <div class="card-header">
          <a href="{%url 'event detail' event.id%}"> {{event.name}} </a>
          <p>by {{event.author}}</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{event.category}}</h5>
          <p class="card-text">{{event.location}}</p>
          <p class="card-text">{{event.details}}</p>
          <p class="card-text">Time: {{event.event_date}}</p>
          <p class="card-text text-muted">Created: {{event.create_date}}</p>
          <p class="card-text text-muted">Last Modified: {{event.last_modified}}</p>

        </div>

      </div>
      <div class="">

      </div>
    {%endfor%}
  {% endblock content%}
