{% extends 'base.html'%}
{% load crispy_forms_tags %}
  {%block content%}

    <h1 class="">Events</h1>
    <form class="d-inline" action="{% url 'home'%}" method="get">
      <!-- {% csrf_token %} -->
      <fieldset>
        {{ form.search|as_crispy_field }}
        {{ form.show_old|as_crispy_field }}
        {% include "widgets/filterOptions.html" %}

      </fieldset>
      <div class="form-group">
        <button class="btn btn-secondary">Search</button>
      </div>

      {% include "widgets/sortOptions.html" %}
    </form>
    {%for event in events%}
      {% include 'event.html' with event=event %}
    {%endfor%}

  {% endblock content%}
