{% extends 'base.html'%}
{% load crispy_forms_tags %}
  {%block content%}

    <h1 class="">Events</h1>
    <form class="d-inline" action="{% url 'home'%}" method="get">
      <!-- {% csrf_token %} -->
      <fieldset>
        {{ form.search|as_crispy_field }}
        {{ form.show_old|as_crispy_field }}
      </fieldset>
      {% include "widgets/sortOptions.html" %}
      <div class="form-group">
        <button class="btn btn-outline-dark">Search</button>
      </div>
    </form>
    <p> Trending Info: </p>
    {%for event in events%}
      {% include 'event.html' with event=event %}
    {%endfor%}

  {% endblock content%}
